PORT="5000"
STAGE="development"
CLIENT_URL="http://localhost:5173"
# db name
MONGO_URL="mongodb+srv://ziadmohamed:u0qRtYLClgyuFkyM@cluster0.nfwhx.mongodb.net/?appName=Cluster0"
JWT_SECRET="Ziad_2004"
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyDzMhCfk-3OENVZpGthwje5ZNXNKJDjJT0"
GMAIL_USER="aom630619@gmail.com"
GMAIL_APP_PASSWORD="cjofvdfqlcmzdcmi"